name: Sync to Hugging Face hub

on:
  push:
    branches: [main] # 只有当推送 main 分支时触发

  # 允许手动触发同步
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true # 如果你有大文件，开启 LFS

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # 1. 配置 Git 用户信息（防止由于未配置导致的报错）
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          
          # 2. 强制推送到 Hugging Face
          # 注意：这里的 URL 格式直接将 Token 嵌入
          git push --force https://koala9527:$HF_TOKEN@huggingface.co/spaces/koala9527/lottery main